@charset "UTF-8";
/* ticket폴더의 .jsp에 필요한 css */

.on{background:black !important;} /* class="on" 클릭시 색 변경 */
#standA input, #standB input, #rseatX input, #rseatY input, #rseatZ input{border:none; font-size:0px; width:10px; height:10px; margin:0; padding:0;} /* font-size:0px; : id="mapContainer"의 value 안보이게 하기 */
#standA button, #standB button, #rseatX button, #rseatY button, #rseatZ button{border:none; font-size:10px; width:10px; height:10px; margin:0; padding:0; background:"grey;"} /* font-size:0px; : id="mainContainer"의 value 안보이게 하기 */

#standA, #standB, #rseatX, #rseatY, #rseatZ{text-align:center; vertical-align:bottom; 
											font-size:10px; border-spacing: 0;}

#seatAddFormjsp td {border: 1px solid #444444; padding: 0 8px;}
#seatAddFormjsp span {display:block; margin:0 !important;}
#ticketAddFormjsp td {border: 1px solid #444444; padding: 0 8px;}

ul{list-style:none; padding-left:0px;}


.StandingR{background:palegreen;} /* 스탠딩R석 색상 */
.R{background:mediumslateblue;} /* 지정좌석R석 색상 */
.S{background:dodgerblue;} /* 지정좌석S석 색상 */
.A{background:darkcyan;} /* 지정좌석A석 색상 */
/* 
#panel>input {border: none; background: transparent; width: 260px;}
#panel>input:focus {outline: none;}
#addedSeat>input {border: none; background: transparent; width: 250px;}
#addedSeat>input:focus {outline: none;}
 */
.sideContainer input {border: none; background: transparent; width: 250px;}
.sideContainer input:focus {outline: none;}
#ticketSalejsp input {border: none; background: transparent;}
#ticketSalejsp input:focus {outline: none;}


/* div class=bfixed  
.bfixed {position: absolute; right: 0; top: 0; width: 400px; border: 3px; background:beige;}
.bfixed p{margin-top: 5px; margin-bottom: 5px;} 
*/

/* modal test  */
/* The Modal (background) */
.bookModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  /* padding-left: 90px; Location of the box */
  /* padding-right: 90px; Location of the box */
  padding-bottom: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.bmodal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.closeBmodal {
  color: grey;
  float: right;
  top: 0;
  --font-size: 28px;
  font-weight: bold;
}

.closeBmodal:hover,
.closeBmodal:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.bmodal-header {
  padding: 4px 16px;
  background-color: black;
  color: white;
}

.bmodal-body {padding: 2px 16px; --height: 530px;}

.bmodal-footer {
  padding: 2px 16px;
  background-color: black;
  color: white;
}